<app-cometa-header></app-cometa-header>
<!-- iframe width="100%" height="800px" src="https://docs.google.com/presentation/d/13_-U5IcbfGCApsU51kTwWZDJUe-V13578GR5TQ07uFk/edit?usp=sharing"></iframe -->
<!-- -------------------------------------------------------------------------------- -->
<!-- This file should load in the future different slides dynamical regarding the URL -->
<!-- For the moment this just loads the opensource slides                             -->
<!-- -------------------------------------------------------------------------------- -->
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSc9qdSL5HFSY_1xtccgL2PyX-52DcopDsopBE-m3ipw4f8-4flC1LFTX2Dh6Okj8vPyMYE1WeM1XT4/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="800" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<!-- -------------------------------------------------------------------------------- -->
<app-cometa-footer></app-cometa-footer>