/*Breakpoints for responsive design */
@import "_breakpoints";

@import "_colors";
@import "_layout";

header {
    @include flexbox($dir: row, $justify: space-between, $align: center);
    @include dimensions($height: 4em);
    background-color: $lightblack;
    color: $whitish;
    /* make the header always stay on top of all elements */
    z-index: 10;

    /* Fix the header to be always visible */
    position: fixed;
    width: 100%;
    

    /* Login Button in Header */
    a {
        @include padding($top: 10px, $right: 25px, $bottom: 10px, $left: 25px);
        @include margin($top: 15px, $right: 15px, $bottom: 15px, $left: 15px);
        background-color: $heavy-orange;
        border-radius: 5px;
        border-color: $lightblack;
        font-family: "Cometa-Rocks", "Arial", "Sans-Serif";
        color: $lightblack;
        text-decoration: none;
    }

    .cometa {
        @include flexbox($dir: row, $justify: center, $align: center);

        .menu {
            display: none;
            @include margin($left: 1em, $right: 1em);
            mat-icon { color: $heavy-orange; padding: 0; }
        }

    }

    /* formatting of surrounding menu items */
    .header-navigation-items {
        display:flex;
    }
    /* Formatting of menu items */
    .menu {
        display:flex;
        align-items: center;
    }

    .switcher {
        /* default do not display on phone */
        display: none;

        /* display switch on tablet and up */
        @include for-tablet-portrait-up(tablet) {
            display: inline;
        }
    }


    .theme-switcher, 
    .lang-switcher {
        @include flexbox($dir: row, $justify: center, $align: center);
        color: $heavy-orange;
    }

    .theme-switcher p,
    .lang-switcher p {
        @include margin($top: .5em, $right: 1em, $bottom: .5em, $left: 1em);
        font-size: .9em;
        cursor: pointer;

        &.isActive {
            font-weight: bold;
            border-bottom: 1px solid $heavy-orange;
        }
    }

    .lang-switcher {
        p { cursor: pointer; }
    }

    .theme-switcher {
        .switch {
            @include dimensions($width: 2em, $height: .8em);
            position: relative;
            border: 2px solid $heavy-orange;;
            border-radius: 1em;
            cursor: pointer;

            &::before {
                @include dimensions($width: .4em, $height: .4em);
                content: '';
                position: absolute;
                top: 1px;
                left: 2px;
                background-color: $heavy-orange;;
                border-radius: 50%;
                transition: .2s;
            }

            &:active::before{
                @include dimensions($width: .5em);
            }

            &.isDark::before { left: 20px; }
        }
    }

    &.isDark { background-color: $blackish; }
}