<app-cometa-header></app-cometa-header>
<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="media">
    <div class="logo"></div>

    <div class="text">

        <div class="logos">
            <h1>{{content.cometa_media}}</h1>
            <p>{{content.cometa_avaliable_logos}}</p>
            <div class="logo-wrapper" *ngFor="let logo of content.logos">
                <picture>
                    <source [srcset]="logo.image_safari" type="image/png">
                    <source [srcset]="logo.image" type="image/webp">
                    <img [src]="logo.image" alt="{{logo.alt}}">
                </picture>
            </div>
        </div>

        <div class="favicons">
            <h1>{{content.cometa_favicons}}</h1>
            <div class="favicon-wrapper" *ngFor="let favicon of content.favicons">
                <picture>
                    <source [srcset]="favicon.image_safari" type="image/png">
                    <source [srcset]="favicon.image" type="image/webp">
                    <img [src]="favicon.image" alt="{{favicon.alt}}">
                </picture>
            </div>
        </div>

        <div class="other">
            <h1>{{content.cometa_other}}</h1>
            <div class="other-wrapper" *ngFor="let other of content.other">
                <picture>
                    <source [srcset]="other.image_safari" type="image/png">
                    <source [srcset]="other.image" type="image/webp">
                    <img src="{{other.image}}" alt="{{other.alt}}">
                </picture>
            </div>
        </div>

        <h1>{{content.cometa_media}}</h1> {{content.cometa_published_info}}
        <ul class="media-links-list">
            <li *ngFor="let link of content.links">
                <a class="media-links" target="{{link.target}}" rel="{{link.rel}}"
                    href="{{link.href}}">{{link.title}}</a>
            </li>
        </ul>
    </div>
</div>
<app-cometa-footer></app-cometa-footer>