@import '_colors';
@import '_layout';
@import '_breakpoints';

.media {
    @include padding($top: 50px, $right: 10%, $bottom: 50px, $left: 10%);
    @include flexbox($dir: row);

    .logo {
        @include dimensions($width: 80%, $height: 50vw);
        background: url("../../../assets/cometa.svg");
        filter: invert(1);
        background-repeat: no-repeat;
        background-position: -10VW -10VW;
        background-size: cover;
        z-index: -9999;
        display: none;
        @include for-small-tablet-portrait-up(small-tablet-plus-50) { display: inline-block; }
    }
    
    .text {
        text-align: center;

        .logos,
        .favicons,
        .other {
            @include padding($top: 50px, $bottom: 50px);
            h1 { padding: 0; }
            p { font-size: 14px; padding-bottom: 25px; }
        }

        .logos {
            .logo-wrapper {
                margin: 15px;
                img { width: 30vw; height: auto; }
                &:nth-of-type(1) { background-color: $white;} /*styles the first element with class name logo-wrapper*/
                &:nth-of-type(2) { background-color: $black;} /*styles the second element with class name logo-wrapper*/
            }
        }

        .favicons {
            .favicon-wrapper {
                &:nth-of-type(1), /*styles the img tag for the first 2 elements with class name favicon-wrapper*/
                &:nth-of-type(2) {
                    img { width: 15vw; }
                }
            }
        }

        .other {
            img {
                width: 25vw;
            }
        }

        ul {
            @include margin($top: 100px, $bottom: 100px);
            list-style-type: none;

            li {
                @include margin($top: 15px, $bottom: 15px);

    
            }
        }
    }

    /* style links with underline orange */
    a {
        font-weight: bold;
        text-decoration: none;
        color: $heavy-orange;
        border-bottom: 1px solid $heavy-orange;
        transition: border-bottom 300ms;
    }

    /* animate links with underline */
    a:hover{
        border-bottom: 3px solid $heavy-orange;
    }

    &.isDark {
        background-color: $blackish;
        color: $whitish;
            .logo {
                z-index: 1;
                filter: none;
            }
    }
}

