<app-cometa-header></app-cometa-header>

<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="media">
        <div class="logo"></div>
        <div class="text">
                <div class="logos">
                        <h1>Cometa in the Media</h1>
                        <p>The Cometa logo is available for download as seen below. Feel free to use them. Please do not
                                distort
                                them.</p>

                        <div style="background-color:white">
                                <img style="width:30vw;" src="assets/logos/COMETA_Logo_Yell_Black-02_400x89.png">
                        </div>
                        <div style="background-color:black">
                                <img style="width:30vw" src="assets/logos/COMETA_Logo_Yell_White-02-03.png">
                        </div>
                </div>

                <div class="logos">
                        <h1>Cometa Favicons</h1>
                        <div> <img style="width:15vw" src="assets/favicons/512.png"> </div>
                        <div> <img style="width:15vw" src="assets/logos/COMETA_prod.png"> </div>
                        <div> <img src="favicon.ico"> </div>
                </div>

                <div class="logos">
                        <h1>Other</h1>
                        <div> <img style="width:25vw" src="assets/logos/img/SVG/4x/Asset 2@4x.png"> </div>
                </div>

                <h1>Cometa in the media</h1>
                You have published information about cometa? Let media@cometa.rocks know, so we can link you here.
                <ul class="media-links-list">
                        <li><a class="media-links" href="https://www.youtube.com/watch?v=8uv-QAJkOLY&t=4s">What the
                                        Product</a>
                        </li>
                        <li><a class="media-links"
                                        href="https://teatimewithtesters.com/cometa-rocks-product-launch/">Tea
                                        Time with Tester</a>
                        </li>
                        <li><a class="media-links"
                                        href="https://www.openpr.com/news/2417683/world-s-first-100-open-source-no-code-automation-suite-opens">Cometa
                                        Rocks openPR</a></li>
                </ul>
        </div>
</div>

<app-cometa-footer></app-cometa-footer>