/*

This is the global color file ... you should import this using
    @import "_colors";
inside each component

*/

/* used in features*/ 
$black: black;

/* used in contact-us*/
$red: red;
$green: green;

/* used in cometa-users*/
$greenish: #8BBEAC;

$blackish: #111111;
$heavy-orange: #e2b154;
$lightgray: lightgray;
$lightgreen: lightgreen;
$lightblue: lightblue;

/* call-to-action colors for buttons */
$call-to-action-color-blueish: #32fd70;
$call-to-action-color-greenish: #50bbf9;

/* used in footer and header... same as $grayish;*/
$lightblack: #343333;

$gray: gray;

$white: #ffffff;

/* used in cometa-devices*/
$device-background: #EEEEEE;
$device-item-color: #FAFAFA;
$device-border-color: #c7c7c7;
$device-success-color: #67B122;
$device-fail-color: #DA2222;
$mobile-shadow: 4.4px 8px 6px rgb(0 0 0 / 10%), 4.4px 5.6px 6px rgb(0 0 0 / 10%);
$tablet-shadow: -4.4px 8px 6px rgb(0 0 0 / 10%), -4.4px 5.6px 6px rgb(0 0 0 / 10%);
/* used in darkmode for text */
$whitish: #cae0eb;

$medium-gray: #aeabab; 