/*

This is the global color file ... you should import this using
    @import "_colors";
inside each component

*/

/* used in features*/ 
$black: black;

/* used in contact-us*/
$red: red;
$green: green;

/* used in cometa-users*/
$greenish: #8BBEAC;

$blackish: #111111;
$heavy-orange: #e2b154;
$lightgray: lightgray;
$lightgreen: lightgreen;
$lightblue: lightblue;

/* used in footer and header... same as $grayish;*/
$lightblack: #343333;

$gray: gray;

$white: #ffffff;

/* used in darkmode for text */
$whitish: #cae0eb;

$medium-gray: #aeabab; 