/* Breakpoints for responsive design */
@import "_breakpoints";

/* Global colors */
@import "_colors";

/* global layout parameters */
@import "_layout";


/* 
==================================================================================
Be carefull with declaring CSS in this component as it uses ViewEncapsulation.None
This means that any decalaration will effect the whole application, if tags are 
present there as well.
==================================================================================
*/

/* wrap the pricing anything with a margin */
.wrapper-pricing {

    /* general stuff for the wrapper */
    padding: 15px;
    padding-top: 100px; /* since adding the fixed floating header, we needs some space above all */
    @include for-desktop-portrait-up(desktop) { 
        padding: 30px;
        padding-top: 100px; /* since adding the fixed floating header, we needs some space above all */
    }
    line-height: 25px;
    text-align: center;

    /* formatting for headlines */
    h1, h2, h3 {
        line-height: 1.3em;
        text-align: left;
        @include for-desktop-portrait-up(desktop) { 
            margin-left:30%;
            margin-right:30%;
        }
    }


    /* Have a pointer cursor on the buttons */
    button {
        cursor: pointer;
    }

    /* setting for switching the theme */
    &.isDark {
        background-color: $lightblack;
        color: $whitish;

        .mat-tab-header-pagination-chevron {
            border-color: $whitish;
        }
    }

    /* general stuff for the card-wrapper */
    .card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        margin: 15px;
        gap: 2vw;
        text-align: center;
        justify-content: center;
    }

    /* Formatting for the cards */
    .mat-card {

        /* align the UL tick items left */
        ul {
            text-align: left;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 50px;
        }

        /* make tick mark green */
        li::marker {
            color: $green;
        }

        /* put tick mark + 3 spaces on list */
        li {
            list-style: "\2713\00A0\00A0\00A0";
            margin:20px;
        }

        @include for-desktop-portrait-up(desktop) { 
            /* Width of cards all the same */
            width: 400px;
        }

        /* setting for switching the theme */
        &.isDark {
            background-color: $black;
            color: $white !important;
            border: 1px solid grey;

            /* color text of subtitle on dark theme */
            .mat-card-subtitle {
                color:$whitish;
            }
        }


    }

}

/* Styles for the tab background bar */
.mat-tab-labels {
    background-color: transparent;
}

/* Styles for tab labels */
.mat-tab-label {
    background-color: $medium-gray !important;
    /* put some space between the tabs */
    margin-right: 1px;    
    @include for-desktop-portrait-up(desktop) { 
        /* make all tabs the same width */
        width: 300px !important;
        /* put some space between the tabs */
        margin-right: 5px;    
    }
    color: $black;
    font-weight: 700;
    /* make the top of the tabs round */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    background-color: white !important;
    color: $black;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: $heavy-orange !important;
    border: 2px solid $heavy-orange;
    border-radius: 15px;
}

/* put some spaceing on the bottom */
.mat-tab-group {
    margin-bottom: 50px;
}

/* put color on icon when active */
.mat-tab-label.mat-tab-label-active .mat-icon {
    color: $orange;
}

/* general distance to text on the right */
.mat-icon {
    margin-right:15px;
}

