<app-cometa-header></app-cometa-header>

<title>Cometa Pricing</title>

<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="wrapper-pricing">

    <!-- This text is displayed above the tabs/cars of the pricing -->
    <h1>Fair Pricing</h1>

    <h2>Don't worry ... we love to take care of updates, 99.9% uptime, powerful infrastructure, geo-location steering ... ready when you need it most.</h2>
    <br><br>
    <h3>
        Cometa will never lock you in. Try before you buy, use cometa for free (no credit card required, just ask for early access).
        <br><br>
        Cometa executes tests much faster than any other testing platform.
        <br><br>
        Testcases take 50% less time executing on Cometa. Compare our world-class service and speed before you buy anything else. If we do not execute faster, you get your money back - guarantee!
    </h3>
    <br>
    <br>

    <!-- There are two tabs inside ... Cometa Clud and Cometa Enterprise -->
    <mat-tab-group mat-align-tabs="center" mat-card [ngClass]="{'isDark': currentTheme == 'dark'}">
        <!-- Community -->
        <mat-tab label="Cometa Community " mat-align-tabs="start">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">group</mat-icon>
                Cometa Community
            </ng-template>
            <br>
            <div class="card-wrapper">
                <mat-card [ngClass]="{'isDark': currentTheme == 'dark'}" class="free">
                    <mat-card-title>Cometa CE</mat-card-title>
                    <mat-card-subtitle>hosted or selfhosted</mat-card-subtitle>
                    <mat-card-content>
                        <h4>Get 90 minutes of testing for free</h4>
                        <ul>
                            <li>250 Steps per Testcase</li>
                            <li>Video recording</li><li>Visual regression testing</li>
                            <li>Choose from +200 real and super-fast Browser Emulators</li>
                            <li>Live preview</li>
                            <li>30 Days Data Retention</li>
                        </ul>
                        <br>
                        <b>Cometa Community</b> is hosted by us for you. No worries about uptime, patching, access ... available when you need it most.
                        <br>This is perfect for trying out Cometa.
                        <br>Get started in minutes.
                        <br>No credit card, no downloads, no plugins required. Just regquest early-access.
                        <p>
                            <button mat-button [routerLink]="['github']">Early Access</button>
                        </p>

                        <br><br>
                        Or host it yourself. Fork it, twist it, use it. Cometa is available under AGPLv3 license.
                        <p>
                            <button mat-button [routerLink]="['github']">View on Github</button>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            <br>
        
        </mat-tab>

        <!--  CLOUD  -->
        <mat-tab label="Cometa Cloud" mat-align-tabs="center">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">cloud</mat-icon>
                Cometa Cloud
            </ng-template>
            <br>
            <b>Cometa Cloud</b> is hosted by us for you. No worries about uptime, patching, access ... available when you need it most.
            <div class="card-wrapper">
                <mat-card mat-card [ngClass]="{'isDark': currentTheme == 'dark'}" class="small">
                    <mat-card-title>Small</mat-card-title>
                    <mat-card-subtitle>€ 7,-/month</mat-card-subtitle>

                    <mat-card-content>
                        <h4>includes 1h of testing</h4>

                        <p>
                            <button mat-button [routerLink]="['early-access']">Get started for free</button>
                        </p>
    

                        <ul>
                            <li>500 Steps per Testcase</li>
                            <li>Video recording</li><li>Visual regression testing</li>
                            <li>Choose from +200 real and super-fast Browser Emulators</li>
                            <li>Live preview</li>
                            <li>Up to 60 Days Data Retention</li>
                            <li>Private Testing</li>
                            <li>Scheduling</li>
                        </ul>
                        <br>
                        <br>Extra hour of testing, just 2,-€
                        <br>As with any other plan, you set the limits and cometa will never top your budget.
                    </mat-card-content>
                </mat-card>
                <mat-card mat-card [ngClass]="{'isDark': currentTheme == 'dark'}" class="medium">
                    <mat-card-title>Medium</mat-card-title>
                    <mat-card-subtitle>€ 49,-/month</mat-card-subtitle>
                    <mat-card-content>
                        <h4>includes 2h of testing</h4>

                        <p>
                            <button mat-button [routerLink]="['early-access']">Start 30 days trial</button>
                        </p>

                        <ul>
                            <li>750 Steps per Testcase</li>
                            <li>Video recording</li><li>Visual regression testing</li>
                            <li>Choose from +200 real and super-fast Browser Emulators</li>
                            <li>Live preview</li>
                            <li>Up to 90 Days Data Retention</li>
                            <li>Private Testing</li>
                            <li>Scheduling</li>
                            <li>Parallel Testing</li>
                        </ul>
                        <br>
                        <br>Extra hour of testing, just 1.50€
                        <br>Execute in parallel, when you run out of time. This is your plan to save valuable time, when integrating with your nightly builds.
                    </mat-card-content>
                </mat-card>
                <mat-card mat-card [ngClass]="{'isDark': currentTheme == 'dark'}" class="large">
                    <mat-card-title>Large</mat-card-title>
                    <mat-card-subtitle>€ 149,-/month</mat-card-subtitle>
                    <mat-card-content>
                        <h4>includes 4h of testing</h4>

                        <p>
                            <button mat-button [routerLink]="['schedule']">Schedule a demo</button>
                        </p>

                        <ul>
                            <li>1.500 Steps per Testcase</li>
                            <li>Video recording</li><li>Visual regression testing</li>
                            <li>Choose from +200 real and super-fast Browser Emulators</li>
                            <li>Live preview</li>
                            <li>Up to 180 Days Data Retention</li>
                            <li>Private Testing</li>
                            <li>Scheduling</li>
                            <li>Parallel Testing</li>
                            <li>Choose from 2000+ Real Devices</li>
                        </ul> 
                        <br>
                        <br>Extra hour of testing, just 1,-€
                        <br>Tired of emulators? Test on real stuff? Here is your plan. Execute on real devices. This plan is limited to 5 real devices in parallel.
                        <br>You need more? No, problem ... talk to us. Or bring your own licence. This is what we call - fair pricing.
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>

        <!-- Enterprise -->
        <mat-tab  label="Cometa Enterprise" mat-align-tabs="end">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">corporate_fare</mat-icon>
                Cometa Enterprise
            </ng-template>
            <br>
            <div class="card-wrapper">
                <!-- Bronze -->
                <mat-card mat-card [ngClass]="{'isDark': currentTheme == 'dark'}" class="enterprise">
                    <mat-card-title>Enterprise Edition</mat-card-title>
                    <mat-card-subtitle>Bronze</mat-card-subtitle>
                    <mat-card-content>

                        <p>
                            <button mat-button [routerLink]="['contact']">Contact us</button>
                        </p>

                        <ul>
                            <li>5 Departments</li>
                            <li>5 Parallel Browsers</li>
                            <li>25 Environment Variables</li>
                            <li>500 Steps per Testcase</li>
                            <li>IBM Cognos Teststeps</li>
                            <li>API Testing</li>
                            <li>On prem installation and patching</li>
                            <li>Add free</li>
                            <li>Direct Support access</li>
                            <li>Webhook integrations</li>
                        </ul>
                    </mat-card-content>
                    <br>
                    <br>Installs in 15 minutes as Virtual Machine.
                </mat-card>                <!-- Silver -->
                <mat-card mat-card [ngClass]="{'isDark': currentTheme == 'dark'}" class="enterprise">
                    <mat-card-title>Enterprise Edition</mat-card-title>
                    <mat-card-subtitle>Silver</mat-card-subtitle>
                    <mat-card-content>

                        <p>
                            <button mat-button [routerLink]="['contact']">Contact us</button>
                        </p>

                        <ul>
                            <li>15 Departments</li>
                            <li>50 Parallel Browsers</li>
                            <li>500 Environment Variables</li>
                            <li>2500 Steps per Testcase</li>
                            <li>IBM Cognos Teststeps</li>
                            <li>API Testing</li>
                            <li>On prem installation and patching</li>
                            <li>Add free</li>
                            <li>Direct Support access</li>
                            <li>Webhook integrations</li>
                            <li>Salesforce Teststeps</li>
                            <li>Service Now Teststeps</li>
                        </ul>
                    </mat-card-content>
                    <br>
                    <br>Need more power ... upgrade, when you need it.
                </mat-card>
                <mat-card mat-card [ngClass]="{'isDark': currentTheme == 'dark'}" class="enterprise">
                    <mat-card-title>Enterprise Edition</mat-card-title>
                    <mat-card-subtitle>Gold</mat-card-subtitle>
                    <mat-card-content>

                        <p>
                            <button mat-button [routerLink]="['contact']">Contact us</button>
                        </p>

                        <ul>
                            <li>Unlimited Departments</li>
                            <li>200 Parallel Browsers</li>
                            <li>Unlimited Environment Variables</li>
                            <li>Unlimited Steps per Testcase</li>
                            <li>IBM Cognos Teststeps</li>
                            <li>API Testing</li>
                            <li>On prem installation and patching</li>
                            <li>Add free</li>
                            <li>Direct Support access</li>
                            <li>Webhook integrations</li>
                            <li>Salesforce Teststeps</li>
                            <li>Service Now Teststeps</li>
                            <li>Priority Support / Same Day Pull Requests</li>
                            <li>24/7 Support / Follow the sun</li>
                        </ul>
                    </mat-card-content>
                    <br>
                    <br>The Gold plan gives you access to the complete solution for Enterprise wide testing. Establish your testing platform and free your Devs from maintaining flaky testcases. 
                </mat-card>
            </div>
            
            <br>
            <b>Cometa Enterprise</b> hosted or self hosted. With Cometa Enterprise Edition your are always on the safe side. 
            <br>Support garuantee! Nothing is better then talking directly to the people that made the software you are using!
            <br>We continously patch your installation.
            <br>You get enterprise grade features OIDC, Loadtesting, Run on Kubernetes, Run on any cloud with superb integrations options.

        </mat-tab>
    </mat-tab-group>
</div>

<app-cometa-footer></app-cometa-footer>