@import "_colors";
@import "_breakpoints";
@import "_layout";

.section-enterprise {
    @include padding($top: 50px, $right: 10%, $bottom: 50px, $left: 10%);

    .content-wrapper {
        ul {
            @include grid($template-columns: repeat(1fr), $gap: 30px);
            @include for-tablet-portrait-up(tablet) {
                @include grid($template-columns: repeat(2,1fr));
            }
            @include for-desktop-portrait-up(desktop) {
                @include grid($template-columns: repeat(3,1fr));
            }
            list-style-type: none;

            li {
                @include flexbox($dir: row, $justify: flex-start, $align: center);
                p {  @include padding($left: 10px); }
                img { @include dimensions($width: 50px, $height: 50px); }
                border-bottom: 1px solid $lightgray;
            }
        }
    }

    &.isDark {
        background-color: $blackish;
        color: $whitish;
    }
}