<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-enterprise">

    <div class="section-header">
        <h1 data-aos="fade-up">{{content.cometa_enterprise_title}}</h1>
        <div class="separator"></div>
        <p data-aos="fade-up">{{content.cometa_enterprise_desc}}</p>
    </div>

    <div class="content-wrapper">
        <ul>
            <li data-aos="fade-up" *ngFor="let characteristic of content.characteristics">
                <picture>
                    <source [srcset]="characteristic.image_safari" type="image/png">
                    <source [srcset]="characteristic.image" type="image/webp">
                    <img alt="{{characteristic.description}}" [src]="characteristic.image">
                </picture>
                <p>{{characteristic.description}}</p>
            </li>
        </ul>
    </div>

</div>