@import "_colors";
@import "_breakpoints";
@import "_layout";

.section-architecture {
    @include padding($top: 50px, $bottom: 50px, $left: 10%, $right: 10%);
    background-color: $white;

    .content-wrapper {
        @include grid($template-columns: repeat(2,1fr), $gap: 20px);
        @include for-desktop-portrait-up (desktop) { 
            @include grid($template-columns: repeat(4,1fr));
        }

        .tech {
            @include flexbox($dir: column, $justify: center, $align: center);

            a {
                text-decoration: none;
                color: $heavy-orange;
                font-size: 2em;

                img {
                    //TODO - fix django image: remove background and then uncomment drop shadow filter
                    //filter: drop-shadow(0 0 0.75rem rgb(24, 20, 12));
                    @include dimensions($height: 80px, $width: auto);
                    @include for-small-tablet-portrait-up (small-tablet-plus-50) {
                        @include dimensions($height: 120px);
                    }
                    @include for-large-tablet-portrait-up (large-tablet) {
                        @include dimensions($height: 200px);
                    }
                }
            }
        } 
    }

    &.isDark {
        background-color: $black;
        color: $whitish;
    }
}