<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-architecture">
    <div class="section-header">
        <h1 data-aos="fade-up">{{content.cometa_enterprise_title}}</h1>
        <div class="separator"></div>
        <h4 data-aos="fade-up"> {{content.cometa_enterprise_desc}}
            <a target="_blank" rel="noopener" href="https://about.gitlab.com/">{{content.cometa_enterprise_repo}}</a>.
        </h4>
    </div>
    <div class="content-wrapper">
        <div data-aos="fade-up" class="content" *ngFor="let tech of content.techStack">
            <div class="tech">
                <a target="_blank" rel="noopener" attr.aria-label="cometa-tech: {{tech.name}}" href="{{tech.href}}">
                    <picture>
                        <source [srcset]="tech.image_safari" type="image/png">
                        <source [srcset]="tech.image" type="image/webp">
                        <img alt="{{tech.name}}" [src]="tech.image">
                    </picture>
                </a>
                <a target="_blank" rel="noopener" href="{{tech.href}}">
                    <strong>{{tech.name}}</strong>
                </a>
            </div>
        </div>
    </div>
</div>