<!----------------------------------- picture laptop ----------------------------------->
<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-laptop">
  
  <div class="wrapper-devices-text-and-video">
    <!-- box in top part of the page welcoming the user-->
    <div class="text">
      <!--
        <h1 data-aos="fade-up" data-aos-delay="100">
          {{content.cometa_laptop_testing}}
        </h1>
      -->
        <h1 data-aos="fade-up" data-aos-delay="100">
          The Open Source alternative to <br>
        <span class="foss-alternative-to">{{content.noneFossAlternative}}</span></h1>
  
        <h2 data-aos="fade-up" data-aos-delay="300">Complete Meta Test Automation Platform</h2>
  
  
        <!-- <h2 data-aos="fade-up" data-aos-delay="300">{{content.cometa_laptop_dont_break_code}}</h2> -->
        <!-- <h2 data-aos="fade-up" data-aos-delay="500">{{content.cometa_laptop_using_cometa}}</h2> -->
        <h4 data-aos="fade-up" data-aos-delay="700">{{content.cometa_ibmcognos}}</h4>
        <h4 data-aos="fade-up" data-aos-delay="700">{{content.cometa_opensrc}}</h4>
    <!--    <h4 data-aos="fade-up" data-aos-delay="700">{{content.cometa_comparison}}</h4>
        <h4 data-aos="fade-up" data-aos-delay="700">{{content.cometa_api}}</h4>
    -->    <div data-aos="fade-up" data-aos-delay="800" class="buttons-container">
          <button aria-label="login-button" class="c2a-button-login">
            <a target="_blank" rel="noopener" href="https://prod.cometa.rocks/">{{content.cometa_login}}</a>
          </button>
          <button aria-label="trial-button" class="c2a-button-demo">
            <a target="_blank" rel="noopener" href="https://cal.com/ralf/cometa-demo">{{content.cometa_demo}}</a>
          </button>
        </div>
    </div>

    <!-- video explaining cometa to the right of the text-->
    <div class="video">
      <p>{{content.cometa_video_in_action}}</p>
      <iframe src="https://www.youtube-nocookie.com/embed/cuX7VJzWDYg?rel=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>


  </div>

  <!-- draw the laptop "image" -->
  <div class="laptop" style="display: none;">
    <div class="output">
      <div class="header">
        <div class="logo">
          <span>co.</span>
          <span>meta</span>
        </div>
        <div class="router-links">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <p>{{content.cometa_laptop_folders}}</p>
      <div class="folders">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p>{{content.cometa_laptop_features}}</p>
      <div class="features">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="keyboard"></div>
</div>

<!----------------------------------- picture mobile ----------------------------------->
<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-mobile">
  <div class="text">
    <h1 data-aos="fade-right">{{content.cometa_mobile_web_testing}}</h1>
    <h2 data-aos="fade-right">{{content.cometa_mobile_been_waiting}}</h2>
    <h4 data-aos="fade-right">{{content.cometa_mobile_some_do_testing}}</h4>
    <h4 data-aos="fade-right">{{content.cometa_mobile_stressful_jobs}}</h4>
    <h4 data-aos="fade-right">{{content.cometa_mobile_automated_testing}}</h4>
    <h4 data-aos="fade-right">{{content.cometa_mobile_fixing_testcases}}</h4>
    <h4 data-aos="fade-right">{{content.cometa_mobile_dont_break_code}}</h4>
    <div data-aos="fade-right" class="buttons-container">
      <button aria-label="trial-button">
        <a target="_blank" rel="noopener"
          href="https://drive.google.com/file/d/1Y4lQ5aSC5Dbfn8q5Q4DLy0eEfsGWAVkm/view?usp=sharing">{{content.cometa_introduction}}</a>
      </button>
      <button aria-label="trial-button">
        <a target="_blank" rel="noopener"
          href="https://drive.google.com/file/d/1jWA5QeMW1MJ0rmrP60oC5YzpCSRcZa9w/view?usp=sharing">{{content.cometa_getting_started}}</a>
      </button>
    </div>
  </div>

  <!-- draw the mobile "image" -->
  <div class="mobile">
    <div class="navbar"></div>
    <div class="item-wrapper">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
    <div class="button-wrapper">
      <div class="item-button"></div>
      <div class="item-button"></div>
    </div>
  </div>
</div>

<!----------------------------------- picture tablet ----------------------------------->
<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-tablet">
  <!-- draw the tablet "image" -->
  <div class="tablet">
    <div class="navbar"></div>
    <div class="item-wrapper">
      <div class="diagram">
        <svg class="gantt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#8da832" fill-opacity="1"
            d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
          </path>
        </svg>
        <svg class="gantt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#3271a8" fill-opacity="1"
            d="M0,288L30,288C60,288,120,288,180,245.3C240,203,300,117,360,90.7C420,64,480,96,540,138.7C600,181,660,235,720,218.7C780,203,840,117,900,112C960,107,1020,181,1080,186.7C1140,192,1200,128,1260,90.7C1320,53,1380,43,1410,37.3L1440,32L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
          </path>
        </svg>
        <svg class="gantt-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#a8324a" fill-opacity="1"
            d="M0,256L30,240C60,224,120,192,180,202.7C240,213,300,267,360,277.3C420,288,480,256,540,229.3C600,203,660,181,720,154.7C780,128,840,96,900,85.3C960,75,1020,85,1080,101.3C1140,117,1200,139,1260,154.7C1320,171,1380,181,1410,186.7L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
          </path>
        </svg>
      </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
    <div class="button-wrapper">
      <div class="item-button"></div>
      <div class="item-button"></div>
    </div>
  </div>

  <div class="text">
    <h1 data-aos="fade-left">{{content.cometa_tablet_elevator_msg}}</h1>
    <h4 data-aos="fade-left">{{content.cometa_tablet_open_src}}</h4>

    <h1 data-aos="fade-left">{{content.cometa_tablet_highlights}}</h1>
    <h4>
      <ul>
        <li data-aos="fade-left">{{content.cometa_tablet_cognos}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_twist_it}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_low_code}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_onCloud}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_noFights}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_automate}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_devices}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_funcionality_test}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_encript}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_integrate}}</li>
        <li data-aos="fade-left">{{content.cometa_tablet_redhat_to_linux}}</li>
      </ul>
    </h4>
    <div data-aos="fade-left" class="buttons-container">
      <button aria-label="trial-button">
        <a target="_blank" rel="noopener"
          href="https://github.com/cometa-rocks/cometa_documentation">{{content.cometa_documentation}}</a>
      </button>
      <button aria-label="trial-button">
        <a target="_blank" rel="noopener"
          href="https://drive.google.com/file/d/1jlxj-776_oTUyRHrxtFgZJUXmX3yInxn/view?usp=sharing">{{content.cometa_user_scenario}}</a>
      </button>
    </div>
  </div>
</div>