@import "_colors";

    .section-laptop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1%;
        padding-bottom: 50px;
        
        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px 0;
            text-align: center;

            @media (min-width: 568px) {  width: 85%; }
            @media (min-width: 850px) {  width: 70%; }
            @media (min-width: 1085px) {  width: 60%; }
        }

        .laptop {
            height: 140px;
            width: 80%;
            background: $lightgray;
            border-radius: .4em;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 15px 10px -7px rgba(0,0,0,1);
    
            @media (min-width: 340px) {  height: 160px; }
            @media (min-width: 470px) {  height: 200px; }
            @media (min-width: 530px) {  height: 250px; }
            @media (min-width: 570px) {  height: 300px; }
            @media (min-width: 690px) {  height: 350px; }
            @media (min-width: 850px) {  height: 400px; }
            @media (min-width: 1085px) {  width: 800px; }

            .output {
                height: 90%;
                width: 94%;
                background: $white;
                border-radius: .4em;
                transition: 2s;
                -webkit-transition: 2s;
    
                .header {
                    width: 98%;
                    height: 8%;
                    background: $lightgray;
                    margin-top: .5%;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 1%;
                    border-radius: .2em;
    
                    @media (min-width: 530px) {  height: 5%; }
    
                    .logo {
                        margin-left: 5px;
                        font-size: 0;
    
                        span { 
                            font-size: 8px;
    
                            &:nth-child(1) { color: $heavy-orange; }
                            &:nth-child(2) { color: $gray; }
    
                            @media (min-width: 470px) {  font-size: 10px; }
                            @media (min-width: 690px) {  font-size: 12px; }
                            @media (min-width: 850px) {  font-size: 14px; }
                        }
                    }
    
                    .router-links {
                        display: flex;
                        align-items: center;
    
                        div {
                            height: 80%;
                            width: 8px;
                            background: $medium-gray;
                            margin: 5px;
                            border-radius: 10px;
    
                            @media (min-width: 470px) {  width: 12px; }
                            @media (min-width: 530px) {  width: 10px; }
                            @media (min-width: 690px) {  width: 12px; }
                            @media (min-width: 850px) {  width: 14px; }
                        }
                    }
                }
    
                p {
                    margin: 0;
                    margin-left: 1%;
                    margin-top: 4%;
                    font-size: 8px;
                    color: $gray;
    
                    @media (min-width: 470px) { font-size: 10px; }
                    @media (min-width: 850px) {  margin-top: 2%; }
                }
    
                .folders {
                    width: 98%;
                    margin-left: 1%;
                    margin-top: 3%;
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    grid-gap: 5px;
    
                    div {
                        height: 15px;
                        background: $lightgray;
                        border-radius: 5px;
    
                        @media (min-width: 570px) {  height: 20px; }
                        @media (min-width: 690px) {  height: 25px; }
                        @media (min-width: 850px) {  height: 30px; }
    
                        &:nth-last-child(-n+1) {
                            display: none;
                            @media (min-width: 470px) {  display: inline-block; }
                        }
                    }
                }
    
                .features {
                    width: 98%;
                    margin-left: 1%;
                    margin-top: 3%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-column-gap: 5px;
                    row-gap: 10px;
    
                    @media (min-width: 530px) {  row-gap: 20px; }
                    
                    div {
                        position: relative;
                        height: 25px;
                        background:$lightgray;
                        border-radius: 5px;
                        border-top-right-radius: 0;
    
                        @media (min-width: 570px) {  height: 35px; }
                        @media (min-width: 690px) {  height: 40px; }
                        @media (min-width: 850px) {  height: 55px; }


                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            height:5px;
                            top: -5px;
                            @media (min-width: 690px) {  height: 10px; top: -10px; }
                        }

                        &::before {
                            background-color: $lightblue;                            
                            width: 30%;
                            right: 0;
                            border-top-right-radius: 5px;
                        }
    
                        &::after {
                            background-color: $lightgreen;
                            width: 20%;
                            right: 28%;
                            transform: skew(-20deg);
                        }
    
                        &:nth-child(3n+1) {
                            &::after { background-color:$red; }
                        }
    
                        &:nth-last-child(-n+4) {
                            display: none;
                            @media (min-width: 530px) {  display: inline-block; }
                        }
                    }
                }
            }
        }
    
        .keyboard {
            width: 100%;
            height: 6px;
            background: #bdbcbc;
            border-bottom-right-radius: 3em;
            border-bottom-left-radius: 3em;
            box-shadow: 0px 15px 10px -7px rgba(0,0,0,1);
            border-top: none;
    
            @media (min-width: 280px) {  width:85%; }
            @media (min-width: 340px) {  height: 8px; }
            @media (min-width: 470px) {  height: 10px; }
            @media (min-width: 530px) {  height: 12px; }
            @media (min-width: 570px) {  height: 14px; }
            @media (min-width: 690px) {  height: 16px; }
            @media (min-width: 850px) {  height: 18px; }
            @media (min-width: 1085px) { height: 20px; width: 900px; }
        }


        &.isDark {
            background-color: $blackish;
            color: $whitish;

            .keyboard { box-shadow: 0px 15px 10px -7px rgb(245, 245, 245); }
        }
    }

    .section-mobile {
        display: grid;
        grid-template-columns: repeat(1fr);
        place-items: center;
        padding: 50px 10%;
        background-color: $white;
      
        @media (min-width: 600px) {  grid-template-columns: repeat(2, 1fr); }
      
      
        .text {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding-bottom: 50px;
      
          @media (min-width: 600px) {  text-align: start; padding-bottom: 0; }
        }
        
        .mobile {
          position: relative;
          height: 300px;
          width: 150px;
          background:$lightgray;
          border-radius: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      
          .screen {
            height: 95%;
            width: 95%;
            background: $white;
            border-radius: 20px;
      
            .header { 
              height: 10%;
              border-radius: 30px;
              padding: 0 10%;
              display: flex;
              align-items: flex-start;
      
      
              .icons { 
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
      
                div {
                  height: 10px;
                  width: 20px;
                  background:$lightgray;
                  margin: 0 2px;
                  border-radius: 3px;
                }
              }
            }
          }
      
          .content {
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 0 25px;
      
            div  {
              position: relative;
              height: 10%;
              margin: 3px 0;
              width: 80%;
              background: $lightgray;
              border-radius: 5px;

              &::before,
              &::after {
                content: '';
                position: absolute;
                width: 3px;
                background:  $green;
              }
      
              &::before { bottom: 2px; left: -25px; height: 100%; transform: rotate(45deg); }
              &::after { bottom: 3px; left: -32px; height: 60%; transform: rotate(-45deg); }
      
              &:nth-child(3n+4) {
                &::before,
                &::after {
                  top: 0;
                  left: -28px;
                  height: 100%;
                  width: 3px;
                  background-color: $red;
                }
                
                &::before { transform: rotate(0deg) rotate(45deg); } 
                &::after { transform: rotate(0deg) rotate(-45deg); }
              }
            }
          }
        }
      
        &.isDark {
          background-color: $black;
          color: $whitish;
      
          .mobile {
            box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
          }
        }
      }


.section-tablet {
    display: grid;
    grid-template-columns: repeat(1fr);
    place-items: center;
    padding: 0 10%;
    padding-bottom: 50px;
    
    @media (min-width: 750px) { 
        grid-template-columns: repeat(2, 1fr);
        place-items: center start;
        padding-bottom: 0;
    }

    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0;
        text-align: center;
        grid-row: 1/2;

        @media (min-width: 750px) { text-align: start; }

        ul {
            list-style-type: none;
            @media (min-width: 800px) { list-style-type: disc; }

            li { padding: .3em 0; }
        }
    }

    .tablet {
        height: 400px;
        width: 280px;
        background-color: $lightgray;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        @media (min-width: 750px) { grid-row: 1/2; }

        .screen {
            height: 95%;
            width: 95%;
            background: $white;
            border-radius: 20px;

            .header {
                height: 5%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;;

                div {
                    width: 40%;
                    height: 90%;
                    background-color: $lightgray;
                    border-radius: 5px;
                }
            } 
            .diagram {
                position: relative;
                padding: 0 2.5%;

                svg { position: absolute; width: 95%; opacity: .5; }
            }

            .info {
                margin-top: 25%;
                height: 75%;
                padding: 0 2.5%;
                
                .data {
                    position: relative;
                    height: 10%;
                    width: 100%;
                    background-color: $lightgray;
                    margin-top: 14px;
                    border-radius: 5px;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute; 
                        top: 8px;
                        height: 30%;
                        border-radius: 4px;
                        font-size: 12px;
                        padding: 2px;
                    }

                    &::before { left: 5px; width: 17%; background-color: $green; }
                    &::after { left: 60px; width: 72%; background-color: $gray; }

                    &:nth-last-child(-n+2)::before { background-color: $red; }
                }
            }  
        }
    }

    &.isDark {
      background-color: $blackish;
      color: $whitish;

      .tablet { box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px; }
    }
}
      
