@import "_colors";


.section-contact-us {
    
    form {
        place-items: center;
        width: 100%;

        mat-form-field {
            width: 100%;
            margin-top: 5px;
    
            input,
            textarea {
                width: 100%;
                padding-left: 15px;
                font: inherit;
                cursor: pointer;
            }

            mat-hint { color: $heavy-orange; }
        }
        
        .feedback-message {             
            transition: .5s;
            color: $red;
            p { margin: 10px 0; }

            &.isSuccess { color: $green; }
        }

        button {
            font-family: Cometa-Rocks, sans-serif;
            width: 100%;
            height: 35px;
            background: $blackish;
            color: $white;
            margin: 10px 0;
            margin-right: 10px;
            outline-color: $heavy-orange;
            @media (min-width: 600px) {  width: 70%; }
            @media (min-width: 900px) {  width: 40%; }

            &:hover { background-color: $heavy-orange; }
        }
    }
}