<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-contact-us" (ngSubmit)="onSubmit()">

    <div class="section-header">
        <h1>{{content.cometa_contactus_title}}</h1>
        <div class="separator"></div>
        <p>{{content.cometa_contactus_desc}}</p>
    </div>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="legacy">
            <mat-label>{{content.cometa_contactus_form_label_name}}</mat-label>
            <input matInput type="text" formControlName="name" class="form-control" placeholder="Alex Peterson">
            <mat-hint *ngIf="submitted && form['name'].errors">
                <div *ngIf="form['name'].errors['required']">{{content.cometa_contactus_form_required_name}}</div>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>{{content.cometa_contactus_form_label_email}}</mat-label>
            <input matInput type="text" formControlName="email" class="form-control"
                placeholder="{{content.cometa_contactus_form_label_email_placeholder}}">
            <mat-hint *ngIf="submitted && form['email'].errors">
                <div *ngIf="form['email'].errors['required']">{{content.cometa_contactus_form_required_email}}</div>
                <div *ngIf="form['email'].errors['pattern']">{{content.cometa_contactus_form_required_email_format}}
                </div>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>{{content.cometa_contactus_form_label_subject}}</mat-label>
            <input matInput type="text" type="text" formControlName="subject" class="form-control"
                placeholder="{{content.cometa_contactus_form_label_subject_placeholder}}">
            <mat-hint *ngIf="submitted && form['subject'].errors">
                <div *ngIf="form['subject'].errors['required']">{{content.cometa_contactus_form_required_subject}}</div>
            </mat-hint>
        </mat-form-field>


        <mat-form-field appearance="legacy">
            <mat-label>{{content.cometa_contactus_form_label_message}}</mat-label>
            <textarea matInput type="text" formControlName="message" class="form-control"
                placeholder="{{content.cometa_contactus_form_label_message_placeholder}}"></textarea>
            <mat-hint *ngIf="submitted && form['message'].errors">
                <div *ngIf="form['message'].errors['required']">{{content.cometa_contactus_form_required_message}}</div>
            </mat-hint>
        </mat-form-field>



        <botdetect-captcha captchaStyleName="welcomeCaptcha"></botdetect-captcha>
        <mat-form-field appearance="legacy">
            <mat-label>{{content.cometa_contactus_form_label_captcha}}</mat-label>
            <input matInput type="text" id="userCaptchaInput" name="userCaptchaInput" class="form-control"
                formControlName="captcha">
            <mat-hint *ngIf="submitted && form['captcha'].errors">
                <div *ngIf="form['captcha'].errors['required']">{{content.cometa_contactus_form_required_captcha}}</div>
            </mat-hint>
        </mat-form-field>

        <button [disabled]="loading"> Submit </button>
        <img *ngIf="loading" class="pl-3"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />


        <div *ngIf="mailFeedback.successCode != 0">

            <!--If successCode is 200, it means that mail was sent. Feedback message will be shown in green-->
            <div *ngIf="mailFeedback.successCode == 200" class="feedback-message"
                [ngClass]="{'isSuccess': mailFeedback.successCode == 200}">
                <p>{{content.cometa_contactus_form_feedback_200_dear_user}} {{form["name"].value}} ...</p>
                <p>{{content.cometa_contactus_form_feedback_200_thanks_you}}</p>
                <p>{{content.cometa_contactus_form_feedback_200_recieved_message}}</p>
                <br>Ref.ID: {{mailFeedback.lastMsgID}}<br>
                <p>{{content.cometa_contactus_form_feedback_200_contact_you}}</p>
                <p>{{content.cometa_contactus_form_feedback_200_your_cometa}}<br>
                    <span class="text-color-grey">{{content.cometa_contactus_form_feedback_mobile_number}}</span>
                </p>
            </div>

            <!-- If successCode is 400, it means that entered captcha was not valid. Feedback message will be shown in red -->
            <div *ngIf="mailFeedback.successCode == 400" class="feedback-message">
                <p>{{content.cometa_contactus_form_feedback_400_wrong_captcha}}</p>
                <p>{{content.cometa_contactus_form_feedback_400_try_again}}</p>
                <p>{{content.cometa_contactus_form_feedback_400_via_phone}}</p>
            </div>

            <!-- If successCode is 502, it means that mail server is down and message wasnt sent. Feedback message will be
            shown in red -->
            <div *ngIf="mailFeedback.successCode == 503" class="feedback-message">
                <p>{{content.cometa_contactus_form_feedback_503_mailserver_crash}}</p>
                <p>{{content.cometa_contactus_form_feedback_503_message_not_sent}}</p>
                <p>{{content.cometa_contactus_form_feedback_503_via_phone}}</p>
            </div>

        </div>
    </form>
</div>