@import "_colors";
@import "_breakpoints";
@import "_layout";

footer {
    @include padding($top: 50px, $right: 10%, $bottom: 50px, $left: 10%);
    background-color: $lightblack;
    color: $whitish;
    
    .logo {
        /* remove margin from logo set in generic styles */
        margin: 0px;
    }

    .links-wrapper {
        @include grid($template-columns: repeat(1fr));
        @include for-small-phone-landscape-up(small-phone-plus-120) { 
            @include grid($template-columns: repeat(2,1fr), $place-items: start);
            text-align: start;
        }
        @include for-tablet-portrait-up(tablet-plus-100) {
            /* make the gap between the columns bigger to have more space for the logo */
            column-gap: 50px;
            @include grid($template-columns: repeat(5,1fr));
        }

        /* do not color links in purple */
        a {
            text-decoration: none;
            color: $whitish;
        }

        text-align: center;
        .links {
            .title {
                @include padding($top: 15px, $bottom: 15px);
                color: $heavy-orange;
            }
    
            ul {
                list-style-type: none;

                li {     
                    @include padding($top: 5px, $bottom: 5px);
                    cursor: pointer;
                    a { color: $whitish; text-decoration: none; }
                }
            }
        }
    }

    .legal-info {
        @include padding($top: 20px);
        text-align: center;
        font-size: .9em;

        .social-net {
            a {
                img {
                    @include dimensions($width: 48px);
                    @include margin($top: 25px, $right: 25px, $bottom: 25px, $left: 25px);
                    border-radius: 1em;
                }
            }            
        }

        .copyright {
            @include padding($top: 5px, $bottom: 5px);
            p { @include padding($top: 5px, $bottom: 5px); }
        }
    }

    .keywords { color: $medium-gray; }

    &.isDark {
        background-color: $black;
        color: $whitish;
    }
}