<footer [ngClass]="{'isDark': currentTheme == 'dark'}">
    <div class="links-wrapper">
        <div class="links" *ngFor="let section of content.linkSection">
            <div data-aos="fade-up" class="title">{{section.title}}</div>
            <ul data-aos="fade-up" *ngFor="let link of section.links">
                <li><a target="{{link.target}}" rel="{{link.rel}}" href="{{link.href}}">{{link.name}}</a></li>
            </ul>
        </div>
    </div>

    <div class="legal-info">
        <div class="copyright">
            <p data-aos="fade-up">{{content.cometa_footer_cometa_rocks}}</p>
            <p data-aos="fade-up">{{content.cometa_footer_company_info}}</p>
        </div>
        <div data-aos="fade-up" class="social-net">
            <a target="_blank" rel="noopener" aria-label="cometa-linkeding"
                href="https://linkedin.com/company/cometa-rocks/">
                <img alt="cometa-linkeding" src="assets/social-media/linkedin-icon.jpeg">
            </a>
            <a target="_blank" rel="noopener" aria-label="cometa-twitter" href="https://twitter.com/cometa_rocks">
                <picture>
                    <source srcset="assets/social-media/twitter-icon.jpeg" type="image/jpeg">
                    <source srcset="assets/social-media/twitter-icon.webp" type="image/webp">
                    <img alt="cometa-twitter" src="assets/social-media/twitter-icon.webp">
                </picture>
            </a>
        </div>
        <div data-aos="fade-up" class="keywords">
            <p>{{content.cometa_footer_keywords}}</p>
        </div>
    </div>
</footer>