@import "_colors";
@import "_breakpoints";
@import "_layout";

.section-features {
    @include padding($top: 50px, $right: 10%, $bottom: 50px, $left: 10%);
    background-color: $white;

    .content-wrapper {
        @include grid($template-columns: repeat(1fr), $gap: 30px);
        @include for-phone-landscape-up(phone-plus-30) {
            @include grid($template-columns: repeat(2,1fr));
        }
        @include for-desktop-portrait-up(desktop) {
            @include grid($template-columns: repeat(3,1fr));
        }

        .content {
            .card {
                @include flexbox($dir: row, $justify: space-around);
                .text {
                    @include padding($bottom: 25px, $left: 10px);
    
                    h1 {
                        font-size: 1.3em;
                        color: $heavy-orange;
                        @include padding($top: 10px, $bottom: 10px);
                        @include for-tablet-portrait-up(tablet-plus-100)  { font-size: 1.5em; }
                        @include for-desktop-portrait-up(desktop)         { font-size: 2em; }
                    }
                }
            }
        }
    }

    &.isDark {
        background-color: $black;
        color: $whitish;
    }
}