<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-portfolio">
    <div class="section-header">
        <h1 data-aos="fade-up">{{content.cometa_portfolio_title}}</h1>
        <div class="separator"></div>
        <p data-aos="fade-up">
            {{content.cometa_portfolio_desc_automation}}
            <br>
            {{content.cometa_portfolio_desc_tests}}
            <br>
            {{content.cometa_portfolio_desc_development}}
        </p>
        
        <p data-aos="fade-up">{{content.cometa_portfolio_screenshots}}
            <a target="_blank" rel="noopener" href="https://prod.cometa.rocks/" >{{content.cometa_portfolio_trial}}</a>
        </p>
    </div>

    <div class="content-wrapper">
        <div data-aos="fade-up" class="content" *ngFor="let screenshot of content.screenshots">
            <div class="card">
                <div class="screenshot">
                    <img alt="" (click)="openMagnifier($event)" [src]="screenshot.image">
                </div>
                <div class="text">
                    <h1>{{screenshot.title}}</h1>
                    <p>{{screenshot.description}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div [ngClass]="{'isActive': img_magnifier_isActive }" class="image-magnifier" (click)="closeMagnifier()">
    <img alt="" class="magnified_img" >
</div>

