<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-portfolio">
    <div class="section-header">
        <h1 data-aos="fade-up">{{content.cometa_portfolio_title}}</h1>
        <div class="separator"></div>
        <div data-aos="fade-up">
            <h4>{{content.cometa_portfolio_automation}}</h4>
            <h4>{{content.cometa_portfolio_tests}}</h4>
            <h4>{{content.cometa_portfolio_development}}</h4>
        </div>
        <h4 data-aos="fade-up">{{content.cometa_portfolio_screenshots}}</h4>
        <!--  trial button -->
        <button data-aos="fade-up" aria-label="trial-button">
            <a target="_blank" rel="noopener" href="https://prod.cometa.rocks/">{{content.cometa_portfolio_trial}}</a>
        </button>
    </div>

    <div class="show-more">
        <div class="screenshot">
            <div class="img-wrapper">
                <picture>
                    <source [srcset]="content.screenshots[0].image_safari" type="image/jpeg">
                    <source [srcset]="content.screenshots[0].image" type="image/webp">
                    <img alt="{{content.screenshots[0].title}}" [src]="content.screenshots[0].image"
                        (click)="openMagnifier($event)">
                </picture>
            </div>
        </div>

        <div class="text">
            <h1>{{content.screenshots[0].title}}</h1>
            <h4>{{content.screenshots[0].description}}</h4>
            <!-- Button for toggeling more and less -->
            <button data-aos="fade-up" (click)="co_screenshots_show_more = !co_screenshots_show_more" class="button">
                <div *ngIf="currentLang == 'en'">{{co_screenshots_show_more? 'show less' : 'show more...'}}</div>
                <div *ngIf="currentLang == 'ca'">{{co_screenshots_show_more? 'mostrar menys' : 'mostra més...'}}</div>
            </button>
        </div>
    </div>

    <div class="content-wrapper" [ngClass]="{'show-less': !co_screenshots_show_more }">
        <div data-aos="fade-up" class="content" *ngFor="let screenshot of content.screenshots">
            <div class="card">
                <div class="screenshot">
                    <picture>
                        <source [srcset]="screenshot.image_safari" type="image/jpeg">
                        <source [srcset]="screenshot.image" type="image/webp">
                        <img alt="{{screenshot.title}}" [src]="screenshot.image" (click)="openMagnifier($event)">
                    </picture>
                </div>

                <div class="text">
                    <h1>{{screenshot.title}}</h1>
                    <h4>{{screenshot.description}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Magnifier DIV ... that shows screenshot in big -->
<div [ngClass]="{'isActive': img_magnifier_isActive }" class="image-magnifier" (click)="closeMagnifier()">
    <img alt="magnified_img" class="magnified_img">
</div>