@import "_colors";
@import "_breakpoints";
@import "_layout";

.section-portfolio {
    @include padding($top: 50px, $right: 10%, $bottom: 50px, $left: 10%);
        
    .content-wrapper {
        @include grid($template-columns: repeat(1fr), $gap: 30px);
        @include for-tablet-portrait-up(tablet) {
            @include grid($template-columns: repeat(2,1fr));
        }
        @include for-desktop-portrait-up(desktop) {
            @include grid($template-columns: repeat(3,1fr));
        }

        .content {
            background-color: $white;
            border-radius: 10px;
            box-shadow: rgba(82, 93, 50, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            &:hover { box-shadow: rgba(211, 189, 20, 0.25) 0px 2px 5px -1px, rgba(167, 86, 10, 0.3) 0px 1px 3px -1px; }

            .card {
                @include padding($top: 20px, $right: 20px, $bottom: 20px, $left: 20px);
                @include dimensions($height: 100%);

                .screenshot {
                    height: auto;
                    overflow: hidden;
                    @include margin($top: auto, $right: 0, $bottom: auto, $left: 0);
                    @include for-phone-landscape-up(phone-plus-20) {
                        @include dimensions($height: 200px);
                    }

                    img {
                        pointer-events: none;
                        @include dimensions($height: auto, $width: 100%);
                        @include for-desktop-portrait-up(desktop) { 
                            cursor: pointer;
                            pointer-events: inherit; 
                        }
                    }
                }
            }

            .text {
                @include padding($top: 30px, $bottom: 30px);

                h1 {
                    font-size: 1em;
                    color: $heavy-orange;
                    @include padding($top: 10px, $bottom: 10px);
                    @include for-tablet-portrait-up(tablet-plus-100) { font-size: 1.2em; } 
                    @include for-desktop-portrait-up(desktop)        { font-size: 1.5em; }
                }
            }
        }
    }
    
    &.isDark {
        background-color: $blackish;
        color: $whitish;

        .card {
            p { color: $blackish; }
        }
    }
}

.image-magnifier {
    @include dimensions($height: 100%, $width: 100%);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    text-align: center;
    backdrop-filter: blur(10px);

    &.isActive { @include for-desktop-portrait-up(desktop) { display: block; } }

    .magnified_img {
        @include dimensions($height: auto, $max-height: 70%, $max-width: 80%);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }   
}