/*
 * Global css styling 
 * Styles added here will affect html elements all over the web site
 */

/*global angular materia prebuild styles, it is necessary when angular material like mat-input, mat-form-field, mat-icon, etc.. are used*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*global color variables imported from common/_colors.scss*/
@import "_colors";

/*global font faces imported from common/_font-face.scss*/
@import "_font-face";

/*angular prebuild material styles*/
@import "_material";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
}
 
body {
    background-color: #F1F1F1;
    font-family: Arial;
    overflow-X: hidden;

    h1 {
        /* h1 styles contain comfortaa font, these fonts are renamed to Cometa-Rocks in common/_font-face.scss*/
        font-family: Cometa-Rocks, sans-serif;
    }
    
    /* headers styles for section >> architecture, enterprise, features, portfolio, users, contact us */
    /**************************************************************************************************/
    .section-header {
        padding-bottom: 50px;
        width: 100%;
        text-align: center;

        h1 {
            @media (min-width: 850px) { font-size: 2.5em; }
            @media (min-width: 1200px) { font-size: 2em; }
        }

        .separator {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: $heavy-orange;
            margin: 10px 0;
            border: 5px solid white;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                height: 1px;
                width: 100px;
                transform: translateY(-50%);
                background-color: $heavy-orange;
            }

            &::before { right: 15px; }
            &::after { left: 15px; }
        }

        p {
            padding: 5px 0;
 
            a {
                color: $heavy-orange;
                text-decoration: none;
            }
        }
    }
    /************************************ Section header styles end ***********************************/
    /**************************************************************************************************/



    /* to put text-color to grey use this class */
    .text-color-grey {
        color: $lightblack;
    }


    /********************************** global headers text styling ***********************************/
    /**************************************************************************************************/
    h1, h2, h4 { padding: .5em 0; }

    h1 { 
        color: $heavy-orange;
        font-size: 2em;
        @media (min-width: 850px) {  font-size: 3.5em; }
        @media (min-width: 1200px) {  font-size: 4em; }
    }

    h2 {
        @media (min-width: 850px) {  font-size: 2.5em; }
        @media (min-width: 1200px) {  font-size: 2em; }
    }

    h4 {
        padding: .3em 0;
        @media (min-width: 850px) {  font-size: 1em; }
        @media (min-width: 1200px) { font-size: 1.5em; }
    }
    /******************************* end of headers text styling **************************************/
    /**************************************************************************************************/
    
} /* end of body */


/* mat-dialog container will scroll down if its content is overflowing*/
.cdk-overlay-pane {
    overflow-y: auto;
}