/*
 * Global css styling 
 * Styles added here will affect html elements all over the web site
 */

/*global angular materia prebuild styles, it is necessary when angular material like mat-input, mat-form-field, mat-icon, etc.. are used*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*global color variables imported from common/_colors.scss*/
@import "_colors";

/*global font faces imported from common/_font-face.scss*/
@import "_font-face";

/*angular prebuild material styles*/
@import "_material";

/*Breakpoints for responsive desing*/
@import "_breakpoints";

/*mixin functions for grid, flex, padding, margin and dimensions
check file common/_layout.scss*/
@import "_layout";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
}
 
body {
    background-color: #F1F1F1;
    font-family: Arial;
    overflow-X: hidden;

    h1 {
        /* h1 styles contain comfortaa font, these fonts are renamed to Cometa-Rocks in common/_font-face.scss*/
        font-family: Cometa-Rocks, sans-serif;
    }
    
    /* headers styles for section >> architecture, enterprise, features, portfolio, users, contact us */
    /**************************************************************************************************/
    .section-header {
        @include padding($bottom: 50px);
        @include dimensions($width: 100%);
        text-align: center;

        h1 {
            @include for-tablet-portrait-up(tablet-plus-100) { font-size: 2.5em; }
            @include for-desktop-portrait-up(desktop)        { font-size: 2em; }
        }

        .separator {
            @include dimensions($height: 20px, $width: 20px);
            @include margin($top: 10px, $bottom: 10px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            background-color: $heavy-orange;
            border: 5px solid white;

            &::before,
            &::after {
                @include dimensions($width: 100px, $height: 1px);
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: $heavy-orange;
            }

            &::before { right: 15px; }
            &::after { left: 15px; }
        }

        p {
            padding: 5px 0;
 
            a {
                color: $heavy-orange;
                text-decoration: none;
            }
        }
    }
    /************************************ Section header styles end ***********************************/
    /**************************************************************************************************/



    /* to put text-color to grey use this class */
    .text-color-grey {
        color: $lightblack;
    }


    /********************************** global headers text styling ***********************************/
    /**************************************************************************************************/
    h1, h2, h4 {
        @include padding($top: .5em, $bottom: .5em);
    }

    h1 { 
        color: $heavy-orange;
        font-size: 2em;
        @include for-tablet-portrait-up(tablet-plus-100) { font-size: 3.5em; }
        @include for-desktop-portrait-up(desktop)        { font-size: 4em; }
    }

    h2 {
        @include for-tablet-portrait-up(tablet-plus-100) { font-size: 2.5em; }
        @include for-desktop-portrait-up(desktop)        { font-size: 2em; }
    }

    h4 {
        padding: .3em 0;
        @include for-tablet-portrait-up(tablet-plus-100) { font-size: 1em; }
        @include for-desktop-portrait-up(desktop)        { font-size: 1.5em; }
    }
    /******************************* end of headers text styling **************************************/
    /**************************************************************************************************/

    button {
        background-color: $heavy-orange;
        padding: 10px 20px;
        border-radius: 1.5em;
        font-size: 15px;
        border: 0;
        font-family: "Cometa-Rocks", "Arial", "Sans-Serif";
        color: $lightblack;
        text-decoration: none;
        margin-right: 15px;
        margin-top: 15px;
        transition: .2s;
        box-shadow: rgba(60, 64, 67, 0.8) 0px 1px 2px -1px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

        a {
            text-decoration: none;
            color: $lightblack;
            font-weight: bold;
        }

        &:hover {
            transform: scale(1.1);
        }
    }


} /* end of body */

/* general padding for content */
.sectiongeneric {
    /* have a global padding of 25px always */
    padding: 25px;

    /* general attriubutes for dark/light mode switching */
    &.isDark {
        background-color: $blackish;
        color: $whitish;

        .keyboard { box-shadow: 0px 15px 10px -7px rgb(245, 245, 245); }
    }

    /* grid defintion to hold image and content divs with generic spacieng */
    .grid-layout-with-2-columns {
        display: grid;
        grid-template-columns: repeat(1fr);

        /* have a gap between each container */
        grid-gap: 25px;
        /* show image + content in two boxes side by side for tablet and up */
        @include for-tablet-portrait-up(tablet) { grid-template-columns: repeat(2,1fr); }
    }

    // button-blueish
    .button-blueish {
        background-color: $lightblue;
    }

    // set all images to 90% width to fit well
    img {
        /* have the image at 90% of size */
        width: 90%;
        /* make some nice round corners */
        border-radius:15%;
    };

    // sets spacing for holding the image
    .generic-image {
        border-top: transparent; // just a dummy entry to not have this class empty
    }

    // sets spacing for holding the content
    .generic-content {
        /* give all h3 it's spacing 15px above and 10px below */
        h3 {
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }
}


/* mat-dialog container will scroll down if its content is overflowing*/
.cdk-overlay-pane {
    overflow-y: auto;
}